<div>
  
    <h1> Jira Board</h1>


    <button type="button" (click)="checkMOdaltype('allList','main-block')" class="btn btn-primary add-list" data-toggle="modal" data-target="#exampleModal">
      Add List
    </button>

    <!-- Add new list form -->

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add card</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form class="form-group"  [formGroup]="addlist">
          <div class="modal-body">
          
            <p>
              <label for="Header"> Header </label>
              <input type="text" formControlName="header"  class="col-md-12" id="Header" name="Header">
            </p>
            <p>
              <label for="Description"> Description </label>
              <textarea  id="Description" formControlName="description"  class="col-md-12" name="Description"></textarea>
            </p>
            <p *ngIf="!checkModal">
              <label for="Description"> List </label>
              <select (change)="getvalue(table)" #table  class="col-md-12"  formControlName="table">
                <option *ngFor="let data of list" [value]=data> {{data}} </option>
              </select>
            </p>
          
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button  (click)="submit(addlist.value)" type="submit" class="btn btn-primary" [disabled]="!addlist.valid"  data-dismiss="modal">Save changes</button>
          </div>
        </form>
        </div>
      </div>
    </div>
    



    <div class="main-block">

      <div class="row">   <!-- Three blocks starts from here -->

          <div class="col-md-4">
            <div class="block">
              <header class="block-head text-center"> <span>Todo</span> <button (click)="deleteList('multipleList','noData','Todo')" type="button" class="btn-close" aria-label="Close"></button>
            </header>
    
            <div   id="div1" (drop)="drop($event,'Todo')"  (dragover)="allowDrop($event)" >
              <div class="block-description"      *ngFor="let data of array_1"  draggable="true" (dragstart)="drag($event,data)" id="Todo">
  
              <div class="title" >
                 
                  <h5>{{data.header}} <button (click)="deleteList('singleList',data,'noData')" type="button" class="btn-close" aria-label="Close"></button></h5>
  
                  <p>{{data.description}}</p>
  
                  <p>{{data.date | date:'medium' }}</p>
  
              </div>
  
            </div>

          </div>
            

              <div class="block-footer text-center">
                <button class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" (click)="checkMOdaltype('singleList','Todo')">Add</button>
            </div>
    
          </div>
    
          </div>


          <div class="col-md-4">
            <div class="block">
              <header class="block-head text-center"> <span>Inprogress</span> <button (click)="deleteList('multipleList','noData','Inprogress')" type="button" class="btn-close" aria-label="Close"></button>
            </header>
            <div   id="div2" (drop)="drop($event,'Inprogress')"  (dragover)="allowDrop($event)" >
            <div class="block-description"      *ngFor="let data of array_2"  draggable="true" (dragstart)="drag($event,data)" id="Inprogress"   >
    
              <div class="title" >
                 
                  <h5>{{data.header}} <button (click)="deleteList('singleList',data,'noData')" type="button" class="btn-close" aria-label="Close"></button></h5>
  
                  <p>{{data.description}}</p>
  
                  <p>{{data.date | date:'medium' }}</p>
  
              </div>
  
            </div></div>
         

              <div class="block-footer text-center">
                <button class="btn btn-primary"  data-toggle="modal" data-target="#exampleModal" (click)="checkMOdaltype('singleList','Inprogress')">Add</button>
            </div>
    
          </div>
    
    
          </div>


          <div class="col-md-4">
            <div class="block">
              <header class="block-head text-center"> <span>Etc</span> <button (click)="deleteList('multipleList','noData','Etc')" type="button" class="btn-close" aria-label="Close"></button>
            </header>

            <div   id="Etc" (drop)="drop($event,'Etc')"  (dragover)="allowDrop($event)" >
              <div class="block-description"      *ngFor="let data of array_3"  draggable="true" (dragstart)="drag($event,data)" id="div3"   >
    
                <div class="title" >
                   
                    <h5>{{data.header}} <button (click)="deleteList('singleList',data,'noData')" type="button" class="btn-close" aria-label="Close"></button></h5>
    
                    <p>{{data.description}}</p>
    
                    <p>{{data.date | date:'medium' }}</p>
    
                </div>
    
              </div>

            </div>

              <div class="block-footer text-center">
                  <button class="btn btn-primary"  data-toggle="modal" data-target="#exampleModal" (click)="checkMOdaltype('singleList','Etc')">Add</button>
              </div>
    
          </div>
    
          </div>

      </div>

